.banner{
    position: relative;
}


.header{
    background-image: url(../resources/Banner\ Image.png);
    width: 1320px;
height: 600px;
border-radius: 16px;
align-items: center;

}
.text{

    color: #FFF;
    padding: 177px  530px 380px 530px;
   text-align: center ;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.paragraph{

    width: 632px;
    padding: 233px 344px 177px 344px;
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;

font-weight: 900px;
line-height: 95px;


}
    

.off{
    color: #F00;
text-align: center;
font-size: 88px;
font-weight: 700;
padding: 0;


}
.our{
    color: #F00;
    text-align: center;
font-size: 24px;
 font-weight: 500;
  
}
.all{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.picture{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    padding: 380px 390px;
}
.vector{
   background-image: url('../resources/Vectorrr.png');
   width: 1320px;
height: 600px;
padding: ;

}
.welcome{padding: 126px 552px 250px 125px;
    align-items: center;
    width: 642px;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}

.dolor{
    
    
}